{% for statistic in question.statistics  %}
    <div class="option-item">
        {% if statistic.choice == 5 %}
            <p class="star">
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
            </p>
        {% endif %}
    {% if statistic.choice == 4 %}
            <p class="star">
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
            </p>
        {% endif %}
    {% if statistic.choice == 3 %}
            <p class="star">
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
            </p>
        {% endif %}
    {% if statistic.choice == 2 %}
            <p class="star">
                <i class="am-icon-star"></i>
                <i class="am-icon-star"></i>
            </p>
        {% endif %}
    {% if statistic.choice == 1 %}
            <p class="star">
                <i class="am-icon-star"></i>
            </p>
        {% endif %}
        <div class="am-progress">
            <div class="am-progress-bar" style="width: {{ statistic.num }}%">
                {{ statistic.num }}%
            </div>
        </div>
        <hr>
    </div>
{% endfor %}