{% extends 'base.html' %}
{% block custom_content %}
    <section class="am-container m-banner">
         <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{&quot;directionNav&quot;:true}' >
          <ul class="am-slides">
              <li>
                  <img src="./static/images/common/1.jpeg">
              </li>
              <li>
                  <img src="./static/images/common/2.jpeg">
              </li>
              <li>
                  <img src="./static/images/common/3.jpeg">
              </li>
              <li>
                  <img src="./static/images/common/1.jpeg">
              </li>
          </ul>
        </div>
      </section>
    <section class="am-container m-active">
    <hgroup class="am-animation-slide-bottom am-animation-delay-1" data-am-scrollspy="{animation:'slide-bottom', delay: 40}">
      <h3 class="am-fl">活动报名</h3>
      <a class="am-fr" href="#">查看更多</a>
      <div class="am-cf"></div>
    </hgroup>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-4 am-u-lg-4 am-animation-slide-top" data-am-scrollspy="{animation:'slide-top', delay: 100}">
        <ul class="items">
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#" class="am-text-truncate">企业生产一线员工职业素质训练课程</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
        </ul>
      </div>
      <div class="am-u-sm-12 am-u-md-4 am-u-lg-4 am-animation-slide-top" data-am-scrollspy="{animation:'slide-top', delay: 20}">
        <ul class="items">
          <li><div class="item am-vertical-align-middle">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
        </ul>
      </div>
      <div class="am-u-sm-12 am-u-md-4 am-u-lg-4 am-animation-slide-top" data-am-scrollspy="{animation:'slide-top', delay: 300}">
        <ul class="items">
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
          <li><div class="item">
            <div class="m-active-time am-fl">
              <div class="m-active-month">NOV</div>
              <div class="m-active-day">16</div>
            </div>
            <div class="m-active-info am-fl">
              <div class="m-active-name am-text-truncate"><a href="#">新手技术培训线下活动</a></div>
              <div class="m-active-number"><i>*</i><span>30</span>人</div>
            </div>
            <div class="am-cf"></div>
          </div></li>
        </ul>
      </div>
    </div>
    </section>
    <section class="am-container m-newthing">
    <hgroup class="am-animation-slide-bottom am-animation-delay-1" data-am-scrollspy="{animation:'slide-bottom', delay: 40}">
      <h3>新鲜事</h3>
      <!-- <a class="am-fr" href="#">查看更多</a> -->
      <!-- <div class="am-cf"></div> -->
    </hgroup>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
        <div class="am-panel am-panel-default m-panel">
          <div class="am-panel-hd"><div class="am-panel-title">新闻资讯</div></div>
          <div class="am-panel-bd">
            <!-- pic news -->
            <div class="an-g">
              <div class="am-u-sm-6 m-hot-news"><a href="#">
                  <img src="./static/images/common/hot-news.png" alt="hot-news">
                  <div class="m-hot-title am-text-truncate">我就试试昵称可以起多长</div></a>
              </div>
              <div class="am-u-sm-6 m-hot-news"><a href="#">
                  <img src="./static/images/common/hot-news.png" alt="hot-news">
                  <div class="m-hot-title am-text-truncate">我就试试昵称可以起多长</div></a>
              </div>
              <div class="am-cf"></div>
            </div>
            <!-- news list -->
            <ul class="am-list m-list">
              <li><a href="#">
                <div class="m-list-title am-text-truncate">我的星辰在这片土地上,所以我要在这里点燃希望.</div>
                <div class="m-list-info">企业要闻&nbsp |&nbsp 11-29</div>
              </a></li>
              <li><a href="#">
                <div class="m-list-title am-text-truncate">我的星辰在这片土地上,所以我要在这里点燃希望.</div>
                <div class="m-list-info">企业要闻&nbsp |&nbsp 11-29</div>
              </a></li>
              <li><a href="#">
                <div class="m-list-title am-text-truncate">我的星辰在这片土地上,所以我要在这里点燃希望.</div>
                <div class="m-list-info">企业要闻&nbsp |&nbsp 11-29</div>
              </a></li>
              <li><a href="#">
                <div class="m-list-title am-text-truncate">我的星辰在这片土地上,所以我要在这里点燃希望.</div>
                <div class="m-list-info">企业要闻&nbsp |&nbsp 11-29</div>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
        <div class="am-panel am-panel-default m-panel">
          <div class="am-panel-hd"><div class="am-panel-title">最近话题</div></div>
          <div class="am-panel-bd">
           <ul class="am-list m-list m-topic">
             <li>
               <a class="m-department am-fl">桥梁设计研发</a>
               <a class="m-topic-title am-fl am-text-truncate">新设计,大家一起来参与</a>
               <div class="am-cf"></div>
               <span class="m-topic-info">李春涛&nbsp|&nbsp07-21&nbsp|&nbsp最后回复来自&nbsp<i>燕隼</i></span>
             </li>
             <li class="am-text-truncate">
               <a class="m-department am-fl">桥梁设计研发</a>
               <a class="m-topic-title am-fl am-text-truncate">设计需要考虑一下,当地水文情况</a>
               <div class="am-cf"></div>
               <span class="m-topic-info">李春涛&nbsp|&nbsp暂无回复</span>
             </li>
             <li>
               <a class="m-department am-fl">桥梁设计研发</a>
               <a class="m-topic-title am-fl am-text-truncate">新设计,大家一起来参与</a>
               <div class="am-cf"></div>
               <span class="m-topic-info">李春涛&nbsp|&nbsp07-21&nbsp|&nbsp最后回复来自&nbsp<i>燕隼</i></span>
             </li>
             <li>
               <a class="m-department am-fl">桥梁设计研发</a>
               <a class="m-topic-title am-fl am-text-truncate">新设计,大家一起来参与</a>
               <div class="am-cf"></div>
               <span class="m-topic-info">李春涛&nbsp|&nbsp07-21&nbsp|&nbsp最后回复来自&nbsp<i>燕隼</i></span>
             </li>
             <li>
               <a class="m-department am-fl">桥梁设计研发</a>
               <a class="m-topic-title am-fl am-text-truncate">新设计,大家一起来参与</a>
               <div class="am-cf"></div>
               <span class="m-topic-info">李春涛&nbsp|&nbsp07-21&nbsp|&nbsp最后回复来自&nbsp<i>燕隼</i></span>
             </li>
           </ul>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
        <div data-am-widget="tabs" class="am-tabs am-tabs-d2 m-tab">
          <ul class="am-tabs-nav am-cf m-tab-nav">
              <li class="am-active"><a href="[data-tab-panel-0]">个人排行</a></li>
              <li class=""><a href="[data-tab-panel-1]">部门排行</a></li>
              <li class="m-tab-time"><font>周</font>&nbsp|&nbsp<font>月</font>&nbsp|&nbsp<font>年</font></li>
          </ul>
          <div class="am-tabs-bd m-tab-bd ">
              <div data-tab-panel-0 class="am-tab-panel am-active">
                【青春】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
                【青春】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
                【青春】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
              </div>
              <div data-tab-panel-1 class="am-tab-panel ">
                【彩虹】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
                【彩虹】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
                【彩虹】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
              </div>
          </div>
       </div>
      </div>
    </div>
    </section>
    <section class="am-container m-course">
    <hgroup class="am-animation-slide-bottom am-animation-delay-1" data-am-scrollspy="{animation:'slide-bottom', delay: 40}">
      <h3 class="am-fl">公共课程</h3>
      <ul class="m-course-list">
        <li><a href="#">全部</a></li>
        <li><a href="#">顶顶顶</a></li>
        <li><a href="#">管理课程</a></li>
        <li><a href="#">企业文化</a></li>
      </ul>
      <a class="am-fr" href="#">查看更多</a>
      <div class="am-cf"></div>
    </hgroup>
    <div class="am-g">
      <div class="am-u-md-3 am-u-sm-12 m-course-item"><a href="#">
        <img src="./static/images/common/course.png" alt="course">
        <div class="m-course-info">
          <div class="m-course-title am-text-truncate">我就试试呢称可以其多长</div>
          <span class="am-icon-eye">&nbsp0&nbsp</span><span class="am-icon-comment">&nbsp1</span>
        </div></a>
      </div>
      <div class="am-u-md-3 am-u-sm-12 m-course-item"><a href="#">
        <img src="./static/images/common/course.png" alt="course">
        <div class="m-course-info">
          <div class="m-course-title am-text-truncate">我就试试呢称可以其多长</div>
          <span class="am-icon-eye">&nbsp0&nbsp</span><span class="am-icon-comment">&nbsp1</span>
        </div></a>
      </div>
      <div class="am-u-md-3 am-u-sm-12 m-course-item"><a href="#">
        <img src="./static/images/common/course.png" alt="course">
        <div class="m-course-info">
          <div class="m-course-title am-text-truncate">我就试试呢称可以其多长</div>
          <span class="am-icon-eye">&nbsp0&nbsp</span><span class="am-icon-comment">&nbsp1</span>
        </div></a>
      </div>
      <div class="am-u-md-3 am-u-sm-12 m-course-item"><a href="#">
        <img src="./static/images/common/course.png" alt="course">
        <div class="m-course-info">
          <div class="m-course-title am-text-truncate">我就试试呢称可以其多长</div>
          <span class="am-icon-eye">&nbsp0&nbsp</span><span class="am-icon-comment">&nbsp1</span>
        </div></a>
      </div>
    </div>
    <div class="am-g">
      <div class="am-u-md-3 am-u-sm-12 m-course-item"><a href="#">
        <img src="./static/images/common/course.png" alt="course">
        <div class="m-course-info">
          <div class="m-course-title am-text-truncate">我就试试呢称可以其多长</div>
          <span class="am-icon-eye">&nbsp0&nbsp</span><span class="am-icon-comment">&nbsp1</span>
        </div></a>
      </div>
      <div class="am-u-md-3 am-u-sm-12 m-course-item"><a href="#">
        <img src="./static/images/common/course.png" alt="course">
        <div class="m-course-info">
          <div class="m-course-title am-text-truncate">我就试试呢称可以其多长</div>
          <span class="am-icon-eye">&nbsp0&nbsp</span><span class="am-icon-comment">&nbsp1</span>
        </div></a>
      </div>
      <div class="am-u-md-3 am-u-sm-12 m-course-item"><a href="#">
        <img src="./static/images/common/course.png" alt="course">
        <div class="m-course-info">
          <div class="m-course-title am-text-truncate">我就试试呢称可以其多长</div>
          <span class="am-icon-eye">&nbsp0&nbsp</span><span class="am-icon-comment">&nbsp1</span>
        </div></a>
      </div>
      <div class="am-u-md-3 am-u-sm-12 m-course-item"><a href="#">
        <img src="./static/images/common/course.png" alt="course">
        <div class="m-course-info">
          <div class="m-course-title am-text-truncate">我就试试呢称可以其多长</div>
          <span class="am-icon-eye">&nbsp0&nbsp</span><span class="am-icon-comment">&nbsp1</span>
        </div></a>
      </div>
    </div>

    </section>
{% endblock %}