{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}问卷调查{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'questionnaire.css' %}">
{% endblock %}

{% block custom_content %}
    <div class="questionnaire">
        <div class="questionnaire-head">
                {{ questionnaire.name }}
        </div>

        <div class="questionnaire-body">
            {% for question in questions %}
                <div class="question">
                    <div class="question-text">
                        {{ question.sortnum }}
                        {{ question.text }}
                    </div>
                    {% include question.template %}
                </div>
            {% endfor %}
        </div>

        <div class="questionnaire-foot">
            <button type="button" class="questionnaire_submit">提交</button>
        </div>

    </div>
{% endblock %}

{% block custom_js %}
        <script src="{% static 'questionnaire.js' %}"></script>
{% endblock %}