{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}问卷调查{% endblock %}
{% block custom_css %}
    <style>
        @media screen and (min-width: 1024px) {
            .content{
                width: 980px;
            }
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/questionnaire.css' %}">
{% endblock %}

{% block custom_header %}
    <header class="m-header">
    <section class="am-show-md-up" data-am-sticky>
      <div class="am-g">
        <div class=" am-u-sm-2 am-u-md-1 am-fl">
          <a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i>EduSoho</a>
        </div>
      </div>
    </section>
    </header>
{% endblock %}

{% block custom_content %}
    <div class="am-container content questionnaire">
        <div class="preview-question-title am-animation-fade">
            <h2 class="am-vertical-align-middle">{{ questionnaire.name }}</h2>
        </div>
        <!-- 问卷的内容 -->
        <div class="am-form subject">
            <div class="problem-set">
                 {% for question in questions %}
                     <label for="question-title">
                         {{ question.sortnum }}.&nbsp;{{ question.text }}
                    </label>
                    {% include question.template %}
                {% endfor %}
            </div>

        </div>


        <!-- 完成按钮 -->
        <div class="content" style="margin:2rem 0;" >
            <button id="js-questionnaire-submit" class="am-btn am-btn-primary am-center">完成</button>
        </div>

    </div>
{% endblock %}

{% block custom_js %}
    <script>
        var answerList = new Array();
        var questionIds = new Array();
        $(function () {
            //提交表单
            $('#js-questionnaire-submit').on('click',function(){
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'add_questionnaire' %}",
                    data: {
                        questionnaire_id:{{ questionnaire.id }},
                        answerStr: JSON.stringify(answerList)
                    },
                    async: true,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        alert(data.msg);
                    },
                    error: function(error) {
                      alert('ajax 失败!')
                    }
                });
            });

            //单选
            $("input[type='radio']").change(function(){
                console.log($(this).val());
                setQuestionAnswers($(this).attr("name"), $(this).val());
            });

            //多选
            $("input[type='checkbox']").change(function(){
                console.log($(this).val());
                var value = getChecked($(this).attr("name"));
                setQuestionAnswers($(this).attr("name"), value);
            });

            //问答
            $(".question_ask_text").change(function(){
                console.log($(this).val());
                setQuestionAnswers($(this).attr("name"), $(this).val());
            });
            //打星
        });
        function getChecked(nameStr){
            var obj = document.getElementsByName(nameStr);
            var checkedStr = "";
            for(var k in obj){
                if(obj[k].checked)
                    checkedStr = checkedStr + obj[k].value + ",";
            }
            return checkedStr.substring(0, checkedStr.length - 1);
        }
        function setQuestionAnswers(idStr, answer) {
            var question_id = parseInt(idStr);
            var obj = {
                question_id: question_id,
                answer: answer
            }
            questionIds = answerList.map(function(q){return q.question_id});
            var index = questionIds.indexOf(question_id);
            if(index > -1){
                answerList[index] = obj;
            }else {
                answerList.push(obj);
            }
            return answerList;
        }
    </script>
{% endblock %}