{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}问卷调查{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'questionnaire.css' %}">
{% endblock %}

{% block custom_content %}
    <div class="questionnaire">
        <div class="questionnaire-head">
                {{ questionnaire.name }}
        </div>

        <div class="questionnaire-body">
            {% for question in questions %}
                <div class="question">
                    <div class="question-text">
                        {{ question.sortnum }}
                        {{ question.text }}
                    </div>
                    {% include question.template %}
                </div>
            {% endfor %}
        </div>

        <div class="questionnaire-foot">
            <input id="js-questionnaire-submit" type="submit" value="提交"/>
        </div>

    </div>
{% endblock %}

{% block custom_js %}
    <script>
        var answerList = new Array();
        var questionIds = new Array();
        $(function () {
            //提交表单
            $('#js-questionnaire-submit').on('click',function(){
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'add_questionnaire' %}",
                    data: {
                        questionnaire_id:{{ questionnaire.id }},
                        answerStr: JSON.stringify(answerList)
                    },
                    async: true,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        alert(data.msg);
                    },
                    error: function(error) {
                      alert('ajax 失败!')
                    }
                });
            });

            //单选
            $("input[type='radio']").change(function(){
                console.log($(this).val());
                setQuestionAnswers($(this).attr("name"), $(this).val());
            });

            //多选
            $("input[type='checkbox']").change(function(){
                console.log($(this).val());
                var value = getChecked($(this).attr("name"));
                setQuestionAnswers($(this).attr("name"), value);
            });

            //问答
            $(".question_ask_text").change(function(){
                console.log($(this).val());
                setQuestionAnswers($(this).attr("name"), $(this).val());
            });
            //打星
        });
        function getChecked(nameStr){
            var obj = document.getElementsByName(nameStr);
            var checkedStr = "";
            for(var k in obj){
                if(obj[k].checked)
                    checkedStr = checkedStr + obj[k].value + ",";
            }
            return checkedStr.substring(0, checkedStr.length - 1);
        }
        function setQuestionAnswers(idStr, answer) {
            var question_id = parseInt(idStr);
            var obj = {
                question_id: question_id,
                answer: answer
            }
            questionIds = answerList.map(function(q){return q.question_id});
            var index = questionIds.indexOf(question_id);
            if(index > -1){
                answerList[index] = obj;
            }else {
                answerList.push(obj);
            }
            return answerList;
        }
    </script>
{% endblock %}