{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}问卷统计{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/questionnaire_statistics.css' %}">
{% endblock %}

{% block custom_header %}
    <header class="m-header">
    <section class="am-show-md-up" data-am-sticky>
      <div class="am-g">
        <div class=" am-u-sm-2 am-u-md-1 am-fl">
          <a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i>EduSoho</a>
        </div>
      </div>
    </section>
    </header>
{% endblock %}

{% block custom_content %}
    <div class="am-container content questionnaire">
        <div class="preview-question-title am-animation-fade">
            <h2 class="am-vertical-align-middle">{{ questionnaire.name }}</h2>
        </div>
        <!-- 问卷的内容 -->
        <div class="am-container am-cf">

        </div>
    </div>
{% endblock %}