<table class="am-table am-table-hover am-text-nowrap">
    <thead>
        <tr>
            <th>用户</th>
            <th>调查时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for runinfo in runinfos  %}
            <tr>
                <td>{{ runinfo.user }}</td>
                <td>{{ runinfo.create_time }}</td>
                <td><a href="/questionnaire/show/{{ runinfo.id }}/" target="_blank">查看详细</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>