.questionnaire{
    margin-left: 20px;
}
.questionnaire-head{
	box-shadow: 0 0 1rem #ccc;
	margin-top: 10px;
    background: #fff;
	padding: 1.5rem 0;
	text-align: center;
}
.preview-question-title,
.edit-question-title{

}
.questionnaire-head h2{
	font-size: 1.8rem;
	margin-bottom: 0;
}

.question{
    background: #fff;
	padding: 1.5rem 1rem;

}

.question {
	box-shadow: 0 0 1rem #ccc;
	margin-top: 10px;
}